<h2 class="uk-modal-title">Formulário do hospital </h2>
<form [formGroup]="form" class="uk-grid-small" uk-grid>
  <div [hidden]="true" class="uk-width-1-1">
    <input class="uk-input" formControlName="id" type="text" placeholder="Id">
  </div>
  <div class="uk-width-1-1">
    <input class="uk-input" formControlName="name" type="text" placeholder="Nome">
  </div>
  <div class="uk-width-1-1">
    <input class="uk-input" formControlName="cnpj" type="text" placeholder="CNPJ" mask="99.999.999/9999-99">
  </div>
  <div class="uk-width-1-2@s">
    <input class="uk-input" formControlName="country" type="text" placeholder="Pais">
  </div>
  <div class="uk-width-1-2@s">
    <input class="uk-input" formControlName="state" type="text" placeholder="Estado">
  </div>
  <div class="uk-width-1-2@s">
    <input class="uk-input" formControlName="city" type="text" placeholder="Cidade">
  </div>
  <div class="uk-width-1-2@s">
    <input class="uk-input" formControlName="zipCode" type="text" placeholder="CEP" mask="99999-999">
  </div>
  <div class="uk-width-1-2@s">
    <input class="uk-input" formControlName="street" type="text" placeholder="Rua">
  </div>
  <div class="uk-width-1-2@s">
    <input class="uk-input" formControlName="number" type="text" placeholder="Número">
  </div>
</form>
<p class="uk-text-right">
  <button class="uk-button uk-button-danger uk-modal-close" (click)="limparDados()"
    type="button">Cancelar</button>&nbsp;&nbsp;
  <button id="save" class="uk-button uk-button-danger uk-modal-close" [hidden]="form.invalid" (click)="submit()"
    type="button">Salvar</button>
</p>
